body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-top: 8px solid #8224e3; /* Roxo Vivo */
}

h1 {
    color: #8224e3;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="file"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    background-color: #8224e3;
    color: white;
    padding: 12px;
    margin-top: 20px;
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #6e1bc3;
}

.success {
    margin-top: 20px;
    background: #e8fce8;
    padding: 15px;
    border: 1px solid #8bc34a;
    border-radius: 10px;
    color: #4caf50;
}
